.container{
    padding-top: 5%;
    padding-bottom: 10%;
}

  .card {
    border-radius: 7px;
}

.card-header {
    padding: 0.75rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.track {
    position: relative;
    padding: 2rem 0; /* Provides space for the tracking line */
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling for small screens */
    justify-content: space-between; /* Distribute items evenly */
    flex-wrap: nowrap; /* Prevent items from wrapping */
}

.tracking-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #ddd;
    z-index: 0;
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1; 
    margin-right: 6rem;
    margin-left: 5px;
}

.step:not(:first-child) {
    margin-top: 1rem;
}

.step .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #f2f2f2;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 0.875rem;
    color: #5a5a5a;
    border: 2px solid #f2f2f2; 
}

.step.active.placed .icon {
    background: #4caf50;
    color: #ffffff;
    border-color: #4caf50; 
}

.step.active.shipped .icon {
    background: #4caf50;
    color: #ffffff;
    border-color: #4caf50; 
}

.step.active.enroute .icon {
    background: #4caf50;
    color: #ffffff;
    border-color: #4caf50; 
}

.step.active.delivered .icon {
    background: #4caf50;
    color: #ffffff;
    border-color: #4caf50; 
}

.step.active.cancelledReq .icon {
    background: #b90e05;
    color: #ffffff;
    border-color: #b90e05; 
}

.step.active.cancelled .icon {
    background: #b90e05;
    color: #ffffff;
    border-color: #b90e05; 
}


.step .text {
    font-weight: 500;
    color: #5a5a5a;
    padding-left:0px;
}
/* .tracking-line {
  width: 100%;
  height: 3px;
  background-color: green;
  margin-top: 5px;
  margin-bottom: 5px;
} */

img{
    cursor: pointer;
}

@media (max-width: 768px) {
    .step {
        margin-right: 3rem; /* Reduce margin for smaller screens */
    }
}



/* INVOICE */

.invoice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invoice-class{
    position: absolute;
    left: -9999px;
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo img {
        max-width: 150px;
        height: auto;
        margin-right: 10px;
    }
    
    h2 {
        margin: 0;
    }
    
    .invoice-info {
        margin-bottom: 30px;
        margin-top: 4rem;
    }
    
    .row {
        display: flex;
        gap: 6rem;
        margin-bottom: 2rem; 
    }
    
    .seller-info,
    .billing-address,
    .shipping-address,
    .address {
        flex: 1;
    }
    
    .address {
        margin: 0;
    }
    
    .address p {
        margin: 5px 0;
        color: #555;
    }
    
    .address h2 {
        margin: 5px 0;
        font-size: 1.2rem;
        color: #333;
    }
    
    .items-table-container {
        max-width: 100%;
        overflow-x: auto;
    }
    
    .items-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    .items-table th, .items-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .items-table th {
        background-color: #f2f2f2;
        font-weight: normal;
    }
    
    .footer {
        margin-top: 40px;
        text-align: center;
        color: #777;
    }
    
    .total {
        font-weight: bold;
    }
    
    /* Media Query for Responsive Layout */
    @media only screen and (max-width: 800px) {
        .container {
            padding: 15px;
        }
        .invoice-info h2 {
            font-size: 1rem;
        }
        .address p {
            font-size: 0.9rem;
        }
        .items-table th, .items-table td {
            font-size: 0.9rem;
        }
        .footer {
            font-size: 0.9rem;
        }
    }

}








 

