.container{
    padding-top: 5%;
    padding-bottom: 10%;
}

  .card {
    border-radius: 7px;
}

.card-header {
    padding: 0.75rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.track {
    position: relative;
    padding: 2rem 0; /* Provides space for the tracking line */
    display: flex;
}

.tracking-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #ddd;
    z-index: 0;
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1; 
    margin-right: 6rem;
    margin-left: 5px;
}

.step:not(:first-child) {
    margin-top: 1rem;
}

.step .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #f2f2f2;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 0.875rem;
    color: #5a5a5a;
    border: 2px solid #f2f2f2; 
}

.step.active .icon {
    background: #4caf50;
    color: #ffffff;
    border-color: #4caf50; 
}

.step .text {
    font-weight: 500;
    color: #5a5a5a;
    padding-left:0px;
}
/* .tracking-line {
  width: 100%;
  height: 3px;
  background-color: green;
  margin-top: 5px;
  margin-bottom: 5px;
} */

img{
    cursor: pointer;
}







 

