<div class="gallery-container">
    <div class="gallery">
        <div class="thumbnails">
            <div class="image-item" (click)="showLargeImage('assets/GudPutharekulu-01.jpg')">
                <img class="thumbnail" src="assets/GudPutharekulu-01.jpg" alt="Image 1">
            </div>
            <div class="image-item" (click)="showLargeImage('assets/jaggery made.jpg')">
                <img class="thumbnail" src="assets/jaggery made.jpg" alt="Image 2">
            </div>
            <div class="image-item" (click)="showLargeImage('assets/img/cover2.jpg')">
                <img class="thumbnail" src="assets/img/cover2.jpg" alt="Image 3">
            </div>
        </div>
        <div class="large-image-container" *ngIf="selectedImageUrl">
            <img [src]="selectedImageUrl" class="large-image" alt="Large image">
        </div>
    </div>
    <div class="product-info">
        <div class="container">
          <h2>Product Description</h2>
  <div class="product-description">
      We at Godavari Vantillu will let you immerse yourself into the world of sweetness by letting you dive into the finest flavors. Our Pootharekulu is produced by following the traditional cookery techniques followed by our elegant ancestors.
  </div>
  <div class="product-description">The Pootharekulu sweet is available in different quantities of 250 gms, 500 gms, and 1 kg.</div>
  <h2>Product Information</h2>
  <div class="product-description">
    Dry fruit Pootharekulu, also called Paper sweet, is the most popular sweet of South India, which is indigenous to a village named Atreyapuram. They are referred to as coated sheets based on their name and are recommended for festivals and auspicious occasions. 
    These sweet paper sheets are made from a rice batter named Jaya biyyam, which is mixed with sugar or jaggery and ghee. This Putharekulu sweet is loaded with various dry fruits, such as almond, cashew, and pistachio. The thin paper sheets of Pootharekulu sweet or paper sweets, being infused with the richness of dry fruits and nuts, will positively melt in your mouth and let you enjoy the moment.
  </div>
  <h2>Ingredients</h2>
<ul style="list-style-type: none;">
  <li>Rice starch</li>
  <li>Sugar/jaggery</li>
  <li>Ghee</li>
  <li>Dry Fruits</li>
</ul>
<div class="nutrition-fact">
  <h2>Nutritional Facts</h2>
  <ul style="list-style-type: none;">
      <li><strong>Carbohydrates:</strong> 94 g</li>
      <li><strong>Protein:</strong> 10 g</li>
      <li><strong>Potassium:</strong> 241 mg, 60 mg</li>
      <li><strong>Calcium:</strong> 5 mg</li>
      <li><strong>Iron:</strong> 5 mg</li>
      <li><strong>Fiber:</strong></li>
  </ul>
</div>
<h2>Health Benefits</h2>
  <div class="product-description">
    The dry fruits are not only mouth watering but also fill you with vitamins, 
    minerals, protein, and fiber. In particular, they boost immunity and enhance your digestion 
    besides maintaining a healthy heart. 
    Moreover, Dry fruits played a vital role in post recovery and fighting covid disease.        
  </div>

  <h2>Product storage</h2>
  <div class="product-description">
    Godavari district’s Authentic Sweet Dry fruit Pootharekulu must be stored in a sealed container immediately after opening the package. 
    They are best before 30 days from the date of opening or date of manufacture, although, taste better when consumed within a week.      
  </div>
    </div>
</div>
