<div class="gallery-container">
  <div class="gallery">
    <div class="large-image-container" *ngIf="selectedImageUrl">
      <img [src]="selectedImageUrl" class="large-image" alt="Large image">
    </div>
    <div class="thumbnails">
      <div class="image-item" (click)="showLargeImage('assets/items/jaggerydryfruit.JPG')">
        <img class="thumbnail" src="assets/items/jaggerydryfruit.JPG" alt="Image 3">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/sugardryfruit.JPG')">
        <img class="thumbnail" src="assets/items/sugardryfruit.JPG" alt="Image 2">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/jaggerydates.JPG')">
        <img class="thumbnail" src="assets/items/jaggerydates.JPG" alt="Image 2">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/carosal2.JPG')">
        <img class="thumbnail" src="assets/items/carosal2.JPG" alt="Image 1">
      </div>

    </div>

  </div>
  <div class="product-info mt-3">
    <div class="container">
      <h5>Product Description</h5>
      <div class="product-description mt-3">
        Experience the exquisite taste and wholesome goodness of our Dry Fruit Pootharekulu, available in both Sugar and
        Jaggery variations. These delightful Andhra sweets are meticulously crafted to offer a perfect blend of crunchy
        texture and rich flavors, making them a cherished indulgence for any occasion.</div>
      <!-- <div class="product-description">This Bellam / Jaggery poothareukulu is offered in different quantities of
            250 gms, 500 gms, and 1 kg</div> -->
      <h5>Ingredients: <span class="ingredients">Rice flour, Sugar or Jaggery, Ghee, Assorted dry fruits (such as
          almonds, cashews, pistachios, raisins, etc.)</span></h5>
      <div class="nutrition-fact">
        <h5>Nutritional Facts:</h5>
        <ul>
          <li><strong>Calories:</strong> 150-200 kcal</li>
          <li><strong>Total Fat:</strong> 5-8 grams</li>
          <!-- <li><strong>Saturated Fat:</strong> 2-4 grams</li> -->
          <!-- <li><strong>Cholesterol:</strong> 0 mg</li> -->
          <!-- <li><strong>Sodium:</strong> 5-10 mg</li> -->
          <li><strong>Total Carbohydrates:</strong> 25-30 grams</li>
          <!-- <li><strong>Dietary Fiber:</strong> 1-2 grams</li> -->
          <li><strong>Sugars:</strong> 15-20 grams</li>
          <li><strong>Protein:</strong> 1-2 grams</li>
        </ul>
      </div>
      <h5>Health Benefits:</h5>
      <div class="product-description">
        Our Dry Fruit Pootharekulu, whether sweetened with sugar or jaggery, provide not only a delicious treat but also
        a dose of essential nutrients. The inclusion of assorted dry fruits adds a nutritional boost, providing
        vitamins, minerals, and healthy fats. While offering a source of carbohydrates for energy, these treats are
        relatively low in cholesterol and sodium. Additionally, they contain a modest amount of dietary fiber, promoting
        digestive health and satiety.
      </div>

      <h5>Product storage:</h5>
      <div class="product-description">
        To preserve the freshness and flavor of our Dry Fruit Pootharekulu, store them in an airtight container in a
        cool, dry place. Avoid exposure to moisture or direct sunlight to maintain their delicate texture and taste.
      </div>
    </div>
  </div>
</div>