.navbar {
  background-color: #2ecc71;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  border-color: #cd1a1a;
}

.navbar-nav .nav-link {
  font-size: 16px;
  color: rgb(9, 1, 1);
  margin-right: 15px;
  text-decoration: none;
  position: relative;
  justify-content: space-around;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active-link {
  color: #3498db;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Changed from right: 0; */
  width: 0; /* Changed from right: 0; */
  height: 2px;
  background-color: #3498db;
  transform-origin: left; /* Added */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Changed transition property */
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active-link::before {
  width: 100%; /* Changed from transform: scaleX(1); */
  transform: scaleX(1); /* Added */
}


.navbar-nav .active-link {
  background-color: #3498db !important;
  color: #100404 !important;
  border-radius: 5px;
}

/* Set the text color for the Home link  */
.navbar-nav .active-link .nav-link,
.navbar-nav .nav-item:first-child .nav-link {
  color: #050101 !important;
} 

.nav-link-spacing{
  margin-bottom: 10px;
} 

.active-link {
  font-weight: bold; 
}


.nav-link, .nav-link.active-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
