.nav-item .nav-link {
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: black;
  margin-right: 15px;
  text-decoration: none; /* Remove default underline */
}

.navbar-nav .nav-link.active-link {
  color:rgb(60, 60, 188); /* Set the color for the active link */
  border-bottom: 2px solid blue; /* Set the line color and thickness */
}

.navbar-nav .nav-link:not(.active-link):hover {
  border-bottom: none; /* Remove the border for inactive links on hover */
}

.userbg {
  background: hsla(205, 45%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 45%, 30%, 1) 0%, hsla(260, 30%, 25%, 1));
}

.gap {
  margin-left: 35%;
}
