.nav-item .nav-link {

  border-radius: 10px;
  cursor: pointer;
  color: #FFFFFF;
  
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
 

}

.navbar-nav .nav-link {
  font-size: 18px;

}

.navbar-nav .nav-link:hover {
  color: whitesmoke;
}

.active-link {
  color: #2ecc71;
}


.nav-icons a {
  text-decoration: none;
  color: black;
}

.nav-icons i {
  font-size: 1.5em;

}

.nav-icons .a:hover {
  cursor: grabbing;
}

.userbg {
  background: hsla(205, 45%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 45%, 30%, 1)0%, hsla(260, 30%, 25%, 1));
}
.signup{
  border: none;
}
.search{
  margin-left: 9rem;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
}



 @media (max-width: 600px) {
  .search {
    margin-left: 0;
    max-width: none;
  }

  .modal-header {
    background-color: #dc3545; /* Adjusted background color for modal header on small screens */
   }
 } 

 @media (min-width: 800px) {
  .search {
    margin-left: 1rem;
  }
} 
 
@media (min-width: 1000px) {
  .search {
    max-width: 450px; 
  }
}  