.nav-item .nav-link {
  border-radius: 10px;
  cursor: pointer;
  color: #FFFFFF;

}

.navbar-nav .nav-link {
  font-size: 18px;

}

.navbar-nav .nav-link:hover {
  color: whitesmoke;
}

.active-link {
  color: #2ecc71;
}


.nav-icons a {
  text-decoration: none;
  color: black;
}

.nav-icons i {
  font-size: 1.5em;

}

.nav-icons .a:hover {
  cursor: grabbing;
}

.userbg {
  background: hsla(205, 45%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 45%, 30%, 1)0%, hsla(260, 30%, 25%, 1));
}

.signup {
  border: none;
}


.logo {
  width: 25%;
  height: 60%;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  /* position: absolute; 
  top: -8px; 
  right: -8px; 
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px; */
}

.cartAccount {
  display: flex;
  margin-left: auto;
}

.cart {
  margin-right: 1.5rem;
  /* position: relative; */
}

marquee,
nav {
  margin: 0;

}

.errorMsg {
  text-align: center;
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .navbar img {
    width: 100% !important;
    height: auto !important;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .d-flex,
  .search,
  .navbar-nav {
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: row !important;
    justify-content: flex-end;
    /* Aligns icons to the right */
    /* padding-right: 15px; */
    margin-top: 0;
  }

  /* Ensuring cart and account icons are aligned to the left */
  .navbar .d-flex {
    justify-content: flex-start !important;
    /* Overrides previous alignment for small screens */
    flex-wrap: wrap;
  }

  /* Adjust navbar padding or margins as needed for small screens */
  .navbar {
    padding: 10px 15px;
    /* Example padding adjustment for smaller screens */
  }

  .dropdown-menu {
    min-width: auto;
    left: -3.4rem !important;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 1000;
  }

  .modal-dialog {
    width: 90%;
    max-width: 90%;
    margin: auto;
  }

  .modal-content {
    /* height: 65vh; */
    margin-top: 15%;
    /* width: 50vh; */
  }

  .modalContentSignup {
    /* height: 70vh; */
    margin-top: 10%;
    /* width: 50vh; */
  }

  .modalContentForgot {
    /* height: 40vh; */
    margin-top: 25%;
    /* width: 50vh; */
  }

  .modal-header {
    padding: 0.4rem 1.0rem;

    .image {
      width: 90%
    }
  }

  .modal-body {
    h4 {
      font-size: 1.3rem;
    }

    label {
      margin-bottom: 0rem !important;
    }
  }
}

.signup {
  cursor: pointer;
}

.forgetPsd {
  cursor: pointer;
}


/* Dropdown */

.dropdown-menu {
  min-width: auto;
  position: absolute;
  top: calc(100% + 10px);
  /* Position the dropdown menu below the username link */
  z-index: 1000;
  /* Ensure the dropdown is above other content */
}

.long-username+.dropdown-menu {
  left: 2.5rem;
  /* Adjust the position if username has more than 6 characters */
}

/* .dropdown-menu {
  left: -0.8rem;
} */

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  margin: 4px 0px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  /* Change the background color on hover */
  color: #3498db;
}

.dropdown-item:focus,
.dropdown-item.active {
  background-color: #3498db;
  /* Change the background color when clicked */
  color: #ffffff;
  /* Change the text color when clicked */
}

.cart-icon {
  font-size: 1.2rem;
  /* Adjust as needed */
}

.small-badge {
  font-size: 0.7rem;
  /* Adjust as needed */
  padding: 0.2rem 0.4rem;
  /* Adjust padding for smaller badge */
}
