<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><b>ATREYAPURAM&nbsp;<br>PUTHAREKULU</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" >
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkactive="active-link" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu" routerLinkactive="active-link">menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkactive="active-link">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkactive="active-link">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
