.nav-item .nav-link{
    background-color: green;
    font-weight: bold;
    /* cursor: pointer; */
    border-radius: 10px;
}

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color:black;
  
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    color: black; 
    margin-right: 15px; 
  }

  .navbar-nav .nav-link:hover {
    color:whitesmoke; 
  }

  .active-link {
    color: #2ecc71; 
  }