<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5">
            <div class="row">
                <!-- Footer contact info -->
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <!-- <h4>Find us</h4> -->
                            <span>first floor, #2-32, Mounika Towers, Kavuri Hills, Madhapur, Hyderabad, Telangana
                                500081</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <!-- <h4>Call us</h4> -->
                            <span>+91 7339793979</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <!-- <h4>Mail us</h4> -->
                            <span>atpu.ind&#64;gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer content -->
        <div class="footer-content pt-5">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget about">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/img/atpLogo.jpg" class="img-fluid" alt="logo">
                            </a>
                        </div>
                        <div class="footer-text mt-3" style="text-align: justify;">
                            <p>"atreyapuram.com", an exclusive social initiative online platform for Authentic
                                Putharekulu, based in Atreyapuram is now a beloved and trusted name across all Indian
                                States.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>About</h3>
                        </div>
                        <ul>
                            <li><a href="/gallery">Our Gallery</a></li>
                            <li><a href="/faqs">Faqs</a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/about">About us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Quick Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="/terms-conditions">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="footer-social-icon mt-4 col-lg-4 mb-50 mx-auto">
                <span class="text-center">Follow us</span>
                <ul class="social_icon mb-3">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>