

  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">
  
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="title">COMPANY NAME<span></span></h5>
              <p>About the company </p>
            </div>
          </div>
  
  
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget">
              <h5 class="title">Follow up<span></span></h5>
              <div class="icons">
                <a href="#" target="_blank" class="f"><i class="bi bi-facebook"></i></a>
                <a href="#" target="_blank" class="w"><i class="bi bi-whatsapp"></i></a>
                <a href="#" target="_blank" class="i"><i class="bi bi-instagram"></i></a>
                <a href="#" target="_blank" class="y"><i class="bi bi-youtube"></i></a>
            </div>
            </div>
          </div>
  
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget">
              <h5 class="title">Contact Us<span></span></h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              <div class="emailfield">
                <form>
                  <input class="email" type="text" name="email" placeholder="Email">
                  <input class="submitbutton ripplelink" type="submit" value="Subscribe">
                </form>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
      <div class="container">
          <div class="col-md-12 text-center">
            <p>Copyright Design Sherif Hamdy © 2019. All rights reserved.</p>
          </div>
       </div>
  </footer>
  

  


