<div class="contact">
</div>


  <div class="container">
    <form class="details">
      <div>
        <label class="label">Name</label>
        <input type="text" name="name" class="input">
      </div>
      <div>
        <label class="label">E-mail</label>
        <input type="email" name="email" class="input">
      </div>
      <div>
        <label class="label">Phones</label>
        <input type="tel" name="phonenumber" class="input">
      </div>
      <div>
        <label class="label">Subject</label>
        <input type="subject" name="subject" class="input">
      </div>
      <div>
        <label class="label">Your message</label>
        <textarea name="textarea" class="textarea"></textarea>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" name="notRobot" id="notRobotCheckbox">
        <label for="notRobotCheckbox" class="checkbox-label">I am not a robot</label>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>

