
   <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/contact_slider.jpg" class="d-block w-100" style="object-fit: cover; max-height: 400px;" alt="...">
      </div>
    </div>
  </div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="contact-form">
          <form>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="email" class="form-control" placeholder="E-mail">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="form-group">
              <textarea rows="5" placeholder="Message" class="form-control"></textarea>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary send-btn" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/contact_slider.jpg" class="d-block w-100" style="object-fit: cover; max-height: 400px;" alt="...">
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="contact-form">
          <form>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="email" class="form-control" placeholder="E-mail">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="form-group">
              <textarea rows="5" placeholder="Message" class="form-control"></textarea>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary send-btn" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


