.box {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  position: relative;
  padding: 15px;
  background: #fff;
  /* border: 1px solid black; */
  border-radius: 8px;
  overflow: hidden;
  /* Ensure the overflow is hidden to prevent the box from expanding on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow to the cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  /* Scale the box slightly on hover */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  */
}


.box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title,
.user-follow-info,
.money {
  /* border-left: 3px solid var(--purple); */
  /* padding-left: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.money {
  color: green;
}

.button {
  padding: 10px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 1rem;
}

.gap {
  display: flex;
  justify-content: space-between;
}

.button:hover {
  background-color: #053f66;
  cursor: pointer;
}



.cart-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  animation: slideIn 0.5s ease-out forwards;

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }
}

/* checkout css */

.coupon {
  cursor: pointer;
}

.track {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

}

.text-center {
  text-align: center !important;
  /* Use !important to override Bootstrap's default styles */
}

.back-arrow {
  cursor: pointer;
}

.total-amount {
  display: flex;
  justify-content: space-between;
}

.borderTopBottom {
  border-top: 1px dashed #D3D3D3;
  /* Change color as needed */
  border-bottom: 1px dashed #D3D3D3;
  /* Change color as needed */
  padding: 10px;
  /* Add padding as needed */
  /* Additional styles if needed */
}


.total-amount .label {
  flex: 1;
}

.total-amount .amount {
  margin-left: 1rem;
  /* Adjust the margin-left value as needed */
}


.gap {
  display: flex;
  justify-content: space-between;
}

body {
  margin-top: 20px;
  background: #eee;
}

/* WRAPPERS */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}


/* Forms styles */
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.input-group-addon {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #f8f9fa;
}

.input-group-addon:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.form-control {
  border-radius: 4px;
}

.text-navy {
  color: #1ab394;
}

.text-success {
  color: #1c84c6;
}

.text-warning {
  color: #f8ac59;
}

.text-danger {
  color: #ed5565;
}

.border-red {
  border: 1px solid red;
}

.success-icon {
  color: #155724;
  /* Dark green text color */
}

.success-message span {
  font-weight: bold;
  /* Bold text */
  font-size: 16px;
  /* Font size of the message */
}



/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }

}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }

  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {

  .col-md-3 {
    max-width: 50%;
    height: auto;
  }

  .box-title,
  .user-follow-info,
  .money {
    font-size: 12px;
  }

  .gap {
    gap: 1rem;
    height: 15%;
  }

  .button {
    color: #fff;
    font-size: 7px;
    border-radius: 10%;
    padding: 5px 9px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0 !important;
  }
  /* .modal-dialog {
    width: 90%;
    max-width: 90%;
    margin: auto;
  } */

  .modal-content {
    /* height: 65vh; */
    margin-top: 10%;
    /* margin-left: 1rem;
    width: 50vh; */
  }

  .modal-header {
    padding: 1rem 1.0rem;

    .image {
      width: 60%
    }
  }
}


@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }

  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .user-follow-info {
    margin-top: 6px;
  }


}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .button {
    flex: 0 0 calc(54% - 10px);
    max-width: calc(57% - 10px);
    font-size: 8px;
  }
}

@media (min-width: 1024px) {
  .gap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* .button {
    flex: 0 0 calc(33.3% - 10px);
    max-width: calc(33.3% - 10px);
  } */
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.empty-cart-message h4 {
  text-align: center;
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
}