<div class="wrap mt-5">
    <div class="card box">
        <img class="box-image" src="assets/img/jaggerry.jpg" alt="jaggery">
        <h6 class="box-title mt-3"><b>Jaggery</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 199.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/sugar.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 99.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/dryfruit.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Jaggery Dry Fruit</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 249.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/jagkajubadam.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Jaggery Kaju Badam</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 399.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/kajubadam.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar Kaju Badam</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 299.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>

    <div class="card box">
        <img class="box-image" src="assets/img/sugarfree.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar Free Ghee</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 149.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/jaggerydryghee.jpg" alt="jaggery">
        <h6 class="box-title mt-3"><b>Jaggery Dry Fruit Ghee</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 279.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>

    <div class="card box">
        <img class="box-image" src="assets/img/sugardry.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar Dry Fruit</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 189.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/kovadry.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Kova Dry Fruit</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 499.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/kajupista.webp" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar Kaju Badam Pista</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 449.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/sugarfreedry.avif" alt="jaggery">
        <h6 class="box-title mt-3"><b>Sugar Free Dry Fruits</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 249.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
    <div class="card box">
        <img class="box-image" src="assets/img/bellamkajupista.jpg" alt="jaggery">
        <h6 class="box-title mt-3"><b>Jaggery Kaju Badam Pista</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; 599.00</p>
        <div class="gap">
            <a href="#" class="button">Add to Cart</a>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
</div>