.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 0rem 5rem 5rem;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    position: relative;
    padding: 15px;
    background: #fff;
    /* border: 1px solid black; */
    border-radius: 8px;
    overflow: hidden; /* Ensure the overflow is hidden to prevent the box from expanding on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to the cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.box:hover {
    transform: scale(1.05); /* Scale the box slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  } */

.box-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title,
.user-follow-info ,.money{
    /* border-left: 3px solid var(--purple); */
    /* padding-left: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.money {
    color: green;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 1rem;
    transition: background-color 0.4s ease;
}

.gap {
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: #053f66;
    cursor: pointer;
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
    }
}