<h3 class="mt-5 text-center"><b>Our Varieties of Putharekulu</b></h3>
<div class="container mt-5">
  <div class="row">
    <div *ngIf="loading" class="col-md-12 text-center mt-5 mb-5">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div *ngFor="let item of products" class="col-md-3 mb-4">
      <div class="card box h-100">
        <img class="box-image" [src]="item.Image" alt="{{item.name}}">
        <h6 class="box-title mt-3"><b>{{item.ProductName}}</b></h6>
        <p class="user-follow-info">(1 box of 10 pieces)</p>
        <p class="money">&#x20B9; {{item.Price}}</p>
        <div class="gap">
          <a class="button" *ngIf="userName" (click)="addToCart(item)">Add to Cart</a>
          <a class="button" *ngIf="!userName" data-toggle="modal" data-target="#loginModal">Add to Cart</a>
          <a class="button" *ngIf="userName" data-toggle="modal" data-target="#checkOutModal"
            (click)="addToOrder(item)">Buy Now</a>
          <a class="button" *ngIf="!userName" data-toggle="modal" data-target="#loginModal"
            (click)="addToOrder(item)">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showMessage" class="cart-message">
  {{ message }}
</div>

<!-- checkout component code -->
<div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOuteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header navbar-expand-lg navbar-light bg-dark">
        <div class="d-flex align-items-center justify-content-center">
          <img src="assets/img/logoATP2.jpg" alt="" width="25%">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6" *ngIf="selectedProduct && !showPaymentFields">
            <div class="col-md-12" *ngIf="showContactFields">
              <form [formGroup]="contactForm" (ngSubmit)="onContactFieldsSubmit()">
                <h5 class="mt-3 mb-4"><b><i>Contact Details</i></b></h5>
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact Number<span class="text-danger">&nbsp;*</span></label>
                  <input type="text" formControlName="phone" id="phone" class="form-control form-control-lg thick"
                    placeholder="Phone" maxlength="10" [ngClass]="{
           'is-invalid': contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched,
           'border-red': contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched
       }">

                  <div *ngIf="contactForm.get('phone')?.hasError('required') && contactForm.get('phone')?.touched"
                    class="text-danger">
                    Mobile number is required
                  </div>
                  <div *ngIf="contactForm.get('phone')?.hasError('pattern') && contactForm.get('phone')?.touched"
                    class="text-danger">
                    Phone number should contain exactly 10 numeric characters
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email<span class="text-danger">&nbsp;*</span></label>
                  <input type="email" formControlName="email" id="formEmail"
                    class="form-control form-control-lg thick mb-2" placeholder="Enter email" [ngClass]="{
                        'is-invalid': contactForm.get('email')?.invalid && contactForm.get('email')?.touched,
                        'border-red': contactForm.get('email')?.invalid && contactForm.get('email')?.touched
                      }">
                  <div *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched"
                    class="text-danger">
                    Email is required
                  </div>
                  <div *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched"
                    class="text-danger">
                    Invalid email address
                  </div>
                  <label>
                    <input type="checkbox" name="remember" class="mr-2" checked>Notify me with
                    offers and updates
                  </label>
                </div>
                <div class="form-group" *ngIf="showCouponField">
                  <label for="couponCode">Coupon Code</label>
                  <input type="text" formControlName="couponCode" id="couponCode"
                    class="form-control form-control-lg thick" placeholder="Enter coupon code">
                </div>
                <!-- <label for="showCoupon" (click)="toggleCouponField()" class="coupon ms-3">Have a
                  coupon?</label>
                <input type="checkbox" id="showCoupon" style="display: none;"> -->
                <div class="gap">
                  <a class="mt-4">&#x20B9; {{ productPrice }}</a>
                  <button class="btn float-end text-white bg-dark" type="submit">Continue</button>
                </div>
              </form>
            </div>
            <div class="col-md-12" *ngIf="showAddressFields">
              <span class="back-arrow" (click)="goToContactFields()"><img src="assets/img/backarrow.png"
                  alt="HTML tutorial" width="20px" height="20px">&nbsp;&nbsp;</span><b>Back</b>
              <form [formGroup]="addressForm" (ngSubmit)="onAddressFieldsSubmit()">
                <h5 class="mt-3 mb-4"><b><i>Delivery Address</i></b></h5>
                <div class="form-group">
                  <label for="name">Full Name<span class="text-danger">&nbsp;*</span></label>
                  <input type="text" formControlName="name" id="name" class="form-control form-control-lg thick"
                    placeholder="Enter Full Name" [ngClass]="{
                      'is-invalid': addressForm.get('name')?.invalid && addressForm.get('name')?.touched,
                      'border-red': addressForm.get('name')?.invalid && addressForm.get('name')?.touched
                    }">
                  <div *ngIf="addressForm.get('name')?.hasError('required') && addressForm.get('name')?.touched"
                    class="text-danger">
                    Name is required
                  </div>
                  <div *ngIf="addressForm.get('name')?.hasError('pattern') && addressForm.get('name')?.touched"
                    class="text-danger">
                    Invalid Name. It should contain only alphabets and have a minimum length of 3 characters.
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="exampleInputEmail1">Contact Number<span class="text-danger">&nbsp;*</span></label>
                      <input type="text" formControlName="phone" id="phone" class="form-control form-control-lg thick"
                        placeholder="Phone" [ngClass]="{
                            'is-invalid': addressForm.get('phone')?.invalid && addressForm.get('phone')?.touched,
                            'border-red': addressForm.get('phone')?.invalid && addressForm.get('phone')?.touched
                          }" maxlength="10">
                      <div *ngIf="addressForm.get('phone')?.hasError('required') && addressForm.get('phone')?.touched"
                        class="text-danger">
                        Mobile number is required
                      </div>
                      <div *ngIf="addressForm.get('phone')?.hasError('pattern') && addressForm.get('phone')?.touched"
                        class="text-danger">
                        Phone number should contain exactly 10 numeric characters
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="pincode">Pincode<span class="text-danger">&nbsp;*</span></label>
                      <input type="text" formControlName="pincode" id="pincode"
                        class="form-control form-control-lg thick" placeholder="Enter Pincode" [ngClass]="{
                            'is-invalid': addressForm.get('pincode')?.invalid && addressForm.get('pincode')?.touched,
                            'border-red': addressForm.get('pincode')?.invalid && addressForm.get('pincode')?.touched
                          }" maxlength="6">
                      <div
                        *ngIf="addressForm.get('pincode')?.hasError('required') && addressForm.get('pincode')?.touched"
                        class="text-danger">
                        Pincode is required
                      </div>
                      <div
                        *ngIf="addressForm.get('pincode')?.hasError('pattern') && addressForm.get('pincode')?.touched"
                        class="text-danger">
                        pincode should contain exactly 6 numeric characters
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="state">State<span class="text-danger">&nbsp;*</span></label>
                      <input type="text" formControlName="state" id="state" class="form-control form-control-lg thick"
                        placeholder="State" [ngClass]="{
                          'is-invalid': addressForm.get('state')?.invalid && addressForm.get('state')?.touched,
                          'border-red': addressForm.get('state')?.invalid && addressForm.get('state')?.touched
                        }" minlength="3">
                      <div *ngIf="addressForm.get('state')?.hasError('required') && addressForm.get('state')?.touched"
                        class="text-danger">
                        State is required
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="city">City<span class="text-danger">&nbsp;*</span></label>
                      <input type="text" formControlName="city" id="city" class="form-control form-control-lg thick"
                        placeholder="city" [ngClass]="{
                          'is-invalid': addressForm.get('city')?.invalid && addressForm.get('city')?.touched,
                          'border-red': addressForm.get('city')?.invalid && addressForm.get('city')?.touched
                        }" minlength="3">
                      <div *ngIf="addressForm.get('city')?.hasError('required') && addressForm.get('city')?.touched"
                        class="text-danger">
                        City is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="area">Area, Colony, street, Sector<span class="text-danger">&nbsp;*</span></label>
                  <input type="text" formControlName="area" id="area" class="form-control form-control-lg thick"
                    placeholder="Area, Colony, street, Sector" placeholder="House Number,Apartment" [ngClass]="{
                      'is-invalid': addressForm.get('area')?.invalid && addressForm.get('area')?.touched,
                      'border-red': addressForm.get('area')?.invalid && addressForm.get('area')?.touched
                    }" minlength="5">
                  <div *ngIf="addressForm.get('area')?.hasError('required') && addressForm.get('area')?.touched"
                    class="text-danger">
                    Area is required
                  </div>
                </div>
                <div class="form-group">
                  <label for="apmt">House Number,Apartment<span class="text-danger">&nbsp;*</span></label>
                  <input type="text" formControlName="apmt" id="apmt" class="form-control form-control-lg thick"
                    placeholder="House Number,Apartment" [ngClass]="{
                      'is-invalid': addressForm.get('apmt')?.invalid && addressForm.get('apmt')?.touched,
                      'border-red': addressForm.get('apmt')?.invalid && addressForm.get('apmt')?.touched
                    }" minlength="3">
                  <div *ngIf="addressForm.get('apmt')?.hasError('required') && addressForm.get('apmt')?.touched"
                    class="text-danger">
                    House Number is required
                  </div>
                </div>
                <label>
                  <input type="checkbox" name="remember" class="mr-2" checked>Billing address same as
                  delivery address
                </label>
                <label>
                  <input type="checkbox" name="remember" class="mr-2" checked>Save Address
                </label>
                <div class="gap">
                  <a class="mt-4">&#x20B9;{{ productPrice }}</a>
                  <button class="btn text-white bg-dark mt-3" type="submit">Continue</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 border-left" *ngIf="showOrderHistory">
            <h5 class="text-center mt-3 mb-3"><b><i>Order Summary</i></b></h5>
            <div class="row">
              <div class="col-md-12">
                <strong>Product:</strong>: {{ productName }} <br>
                <strong>Price:</strong>: <span class="text-navy">&#x20B9; {{ productPrice}}</span>
                <p class="m-t">
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.
                </p>
                <div class="form-group mt-3">
                  <label for="quantity">Quantity:</label>
                  <div class="input-group">
                    <div class="input-group-addon" (click)="decrementQuantity()">-</div>
                    <input type="number" class="form-control text-center" id="quantity" [(ngModel)]="quantity"
                      (input)="updateTotal()" style="width: 30%;">
                    <div class="input-group-addon" (click)="incrementQuantity()">+</div>
                  </div>
                </div>
                <div class="borderTopBottom">
                  <div class="total-amount  text-muted">
                    <span class="label">Total Price (incl. taxes)</span>
                    <a class="amount">&#x20B9; {{ productPrice }}</a>
                  </div>

                  <div class="total-amount text-muted mt-2">
                    <span class="label">Delivery Charges</span>
                    <a class="amount">Free</a>
                  </div>
                </div>
                <div class="total-amount mt-3">
                  <span class="label">Total Amount</span>
                  <a class="amount">&#x20B9; {{ productPrice}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="showPaymentFields">
          <span class="back-arrow ms-3" (click)="showAdditionalFieldsOnClick()"><img src="assets/img/backarrow.png"
              alt="HTML tutorial" width="20px" height="20px">&nbsp;&nbsp;</span><b>Back</b>
          <h5 class="text-center"><b><i>Payment</i></b></h5>
          <div class="col-md-12">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
              <div class="wrapper wrapper-content animated fadeInRight">
                <h5 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapsethree">Cash On
                    Delivery</a>
                </h5>
                <div class="row">
                  <div class="col-md-10">
                    <h5>Summary</h5>
                    <strong>Product:</strong>{{ productName || '----'}}<br>
                    <strong>Quantity:</strong>{{ quantity || '----' }}<br>
                    <strong>Price:</strong>: <span class="text-navy">{{
                      productPrice || '----' }}</span>

                    <p class="m-t">
                      Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit.
                    </p>
                    <div class="form-check">
                      <input type="radio" id="cashOnDelivery" name="paymentMethod" class="form-check-input"
                        (change)="selectRadioButton()">
                      <label for="cashOnDelivery" class="form-check-label">Cash on
                        Delivery</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center mt-3">
                    <button class="btn text-white bg-dark text-center mt-3" (click)="placeOrder()"
                      [disabled]="!radioButtonSelected">Place
                      Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="paymentSuccess" class="text-center">
          <div class="success-icon">
            <i class="fas fa-check-circle fa-5x mt-3 mb-4"></i>
          </div>
          <h6>Hey {{userName}}</h6>
          <h5><b>Order has been placed successfully!</b></h5>
          <h6>We'll send you a shipping confirmation email<br> as soon as your order ships.</h6>
          <!-- <button class="btn text-white bg-dark text-center mt-3" routerLink="/orders">Show Orders</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login  -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header navbar-expand-lg navbar-light bg-dark">
        <div class="d-flex align-items-center justify-content-center">
          <img src="assets/img/logoATP.jpg" alt="" width="50%">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <h4 class="text-center text-dark"><b><i>LOGIN</i></b></h4>
          <div class="col-md-12 mb-3">
            <label for="exampleInputEmail1">Enter Email</label>
            <input type="email" formControlName="email" id="formemail" class="form-control thick "
              placeholder="Enter email"
              [ngClass]="{'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
            <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
              class="text-danger ms-1">
              Email is required
            </div>
            <div *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched"
              class="text-danger ms-1">
              Invalid email.
            </div>
          </div>
          <div class="col-sm-12 mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" formControlName="password" id="formpassword" class="form-control  thick"
              placeholder="Password"
              [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
              class="text-danger">
              password is required
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched"
              class="text-danger">
              wrong Password
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div class="forgot-password">
            <a data-dismiss="modal" data-toggle="modal" data-target="#forgotPsdModal" class="ms-3 forgetPsd">Forgot
              Password?</a>
            <button class="btn float-end text-white bg-dark me-3" type="submit" id="loginButton">
              Login
            </button>
          </div>
          <div class="form-group col-sm-12 mt-4">
            <p>Don't have an account?<span data-dismiss="modal" data-toggle="modal" data-target="#signupModal"> <a
                  class="text-link">&nbsp;&nbsp;<b><span class="signup">Sign Up</span></b></a></span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sign up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <div class="d-flex align-items-center justify-content-center">
          <img src="assets/img/logoATP.jpg" alt="" width="50%">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <p class="text-white subText">Earn extra cashback on top of other discounts on your<br> shopping via
          CouponDeals.</p> -->
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSignupSubmit()">
          <div class="login">
            <h4 class="text-center text-dark"><b><i>SIGNUP</i></b></h4>
            <div class="col-md-12 mb-3">
              <label for="exampleInputEmail1">User Name</label>
              <input type="text" formControlName="name" id="formName" class="form-control  thick"
                placeholder="Enter Name"
                [ngClass]="{'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}">
              <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched"
                class="text-danger ms-1">
                Name is required
              </div>
              <div *ngIf="registerForm.get('name')?.hasError('pattern') && registerForm.get('name')?.touched"
                class="text-danger ms-1">
                Invalid name.
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label for="exampleInputEmail1">Email:</label>
              <input type="email" formControlName="email" id="formEmail" class="form-control  thick"
                placeholder="Enter email"
                [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">
              <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched"
                class="text-danger">
                Email is required
              </div>
              <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched"
                class="text-danger">
                Invalid email address
              </div>
            </div>
            <div class="col-sm-12 mb-3">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" formControlName="password" id="formpassword" class="form-control  thick"
                placeholder="Password"
                [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}">
              <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched"
                class="text-danger">
                Password is required
              </div>
              <div *ngIf="registerForm.get('password')?.hasError('pattern') && registerForm.get('password')?.touched"
                class="text-danger">
                Invalid Password. Password must have at least 8 characters, including one alphabetical character, one
                special character and one digit.
              </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            <div *ngIf="showSignupMessage" class="alert alert-success ms-2" role="alert">
              User signed up successfully!
            </div>
            <div class="form-group col-sm-12">
              <button type="submit" class="btn bg-dark text-white mr-3 cursor-pointer">Sign Up</button>
              <button type="button" class="btn btn-light cursor-pointer" data-dismiss="modal" data-toggle="modal"
                data-target="#loginModal">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Forgot password page -->
<div class="modal fade" id="forgotPsdModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header navbar-expand-lg navbar-light bg-dark">
        <div class="d-flex align-items-center justify-content-center">
          <img src="assets/img/logoATP.jpg" alt="" width="50%">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPsdForm" (ngSubmit)="onEmailSubmit()">
          <div class="col-md-12 mb-3">
            <label for="exampleInputEmail1">Enter Email</label>
            <input type="text" formControlName="email" id="formemail" class="form-control  thick"
              placeholder="Enter email"
              [ngClass]="{'is-invalid': forgotPsdForm.get('email')?.invalid && forgotPsdForm.get('email')?.touched}">
            <div *ngIf="forgotPsdForm.get('email')?.hasError('required') && forgotPsdForm.get('email')?.touched"
              class="text-danger ms-1">
              Email is required
            </div>
            <div *ngIf="forgotPsdForm.get('email')?.hasError('pattern') && forgotPsdForm.get('email')?.touched"
              class="text-danger ms-1">
              Invalid email.
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div *ngIf="showForgotMessage" class="alert alert-success ms-2" role="alert">
            We've sent you an email with a link to update your password.
          </div>
          <div class="d-flex align-items-center justify-content-center"> <!-- Center the content within the row -->
            <button class="btn text-white bg-dark" type="submit">
              SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>