.container-fluid {
  padding: 0;
  max-width: 100%;
}

.custom-card {
  display: flex;
  flex-direction: column;
}

.custom-card-body {
  flex-grow: 1;
}

.custom-product-details {
  margin-bottom: auto; 
}

.custom-address-details {
  text-align: right; 
}

.custom-button-group {
  display: flex;
  justify-content: space-between; 
  /* padding-top: 20px; */
}
/* 
.custom-button {
  width: 18%;
} */


.info-title {
  font-weight: bold; 
  color: #000; 
}

.custom-button {
  background-color: #000 !important; 
}
.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.empty-cart-message h4 {
  text-align: center;
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
}
.cart-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  animation: slideIn 0.5s ease-out forwards;

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
    max-width: 70%;
  }
  
  .custom-card {
    display: flex;
    flex-direction: column;
  }
  
  .custom-card-body {
    flex-grow: 1;
  }
  /* .img-fluid{
    max-width: 60%;
  } */
  .productDetails{
    margin-top: 1rem;
  }
  .custom-button-group{
    gap:2rem;
  }
  .custom-product-details {
    margin-bottom: auto;
  }
  
  .custom-address-details {
    text-align: right; 
  }
}



