
  
  .empty-cart-message h4 {
    text-align: center;
    font-size: 1.5rem; 
    color: #333; 
  }
  .btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
  padding: 0;
  max-width: 100%;
}

.order-header {
  text-align: center;
  background-color: #343a40; 
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.custom-card {
  display: flex;
  flex-direction: column;
}

.custom-card-body {
  flex-grow: 1;
}

.custom-product-details {
  margin-bottom: auto; 
}

.custom-address-details {
  text-align: right; 
}

.custom-button-group {
  display: flex;
  justify-content: space-between; 
  padding-top: 20px;
}

.custom-button {
  width: 18%;
}


.info-title {
  font-weight: bold; 
  color: #000; 
}

.custom-button {
  background-color: #000 !important; 
}


















/* .order {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.order-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.order-details {
  margin-bottom: 10px;
}

.order-col {
  margin-right: 10px;
}

.order-items {
  margin-left: 20px;
}

.order-item {
  margin-bottom: 5px;
}

button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
} */




