.empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
  }
  
  .empty-cart-message h4 {
    text-align: center;
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
  }
  .btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
