<div class="gallery-container">
  <div class="gallery">
    <div class="large-image-container" *ngIf="selectedImageUrl">
      <img [src]="selectedImageUrl" class="large-image" alt="Large image">
    </div>
    <div class="thumbnails">
      <div class="image-item" (click)="showLargeImage('assets/items/sugar2.JPG')">
        <img class="thumbnail" src="assets/items/sugar2.JPG" alt="Image 1">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/sugarkaju.JPG')">
        <img class="thumbnail" src="assets/items/sugarkaju.JPG" alt="Image 2">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/sugarbadam.JPG')">
        <img class="thumbnail" src="assets/items/sugarbadam.JPG" alt="Image 3">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/sugarpistha.JPG')">
        <img class="thumbnail" src="assets/items/sugarpistha.JPG" alt="Image 4">
      </div>

    </div>

  </div>
  <div class="product-info mt-3">
    <div class="container">
      <h5>Product Description</h5>
      <div class="product-description mt-3">
        Savor the irresistible sweetness of our Sugar Pootharekulu, a beloved delicacy hailing from Andhra Pradesh,
        India. Crafted with care and tradition, each bite of these crispy treats offers a delightful fusion of textures
        and flavors, making them a cherished indulgence for any occasion.</div>
      <!-- <div class="product-description">This Bellam / Jaggery poothareukulu is offered in different quantities of
            250 gms, 500 gms, and 1 kg</div> -->
      <h5>Ingredients: <span class="ingredients">Rice starch, Sugar, Ghee</span></h5>
      <div class="nutrition-fact">
        <h5>Nutritional Facts:</h5>
        <ul>
          <li><strong>Calories:</strong> 150-200 kcal</li>
          <li><strong>Total Fat:</strong> 5-8 grams</li>
          <!-- <li><strong>Saturated Fat:</strong> 2-4 grams</li> -->
          <!-- <li><strong>Cholesterol:</strong> 0 mg</li> -->
          <!-- <li><strong>Sodium:</strong> 5-10 mg</li> -->
          <li><strong>Total Carbohydrates:</strong> 25-30 grams</li>
          <!-- <li><strong>Dietary Fiber:</strong> 1-2 grams</li> -->
          <li><strong>Sugars:</strong> 15-20 grams</li>
          <li><strong>Protein:</strong> 1-2 grams</li>
        </ul>
      </div>
      <h5>Health Benefits:</h5>
      <div class="product-description">
        Indulging in our Sugar Pootharekulu offers more than just a delicious treat; it also provides several health
        benefits. Made primarily from rice flour, these treats offer a source of carbohydrates for quick energy. With
        minimal saturated fat and cholesterol, they make for a guilt-free indulgence. Additionally, the presence of ghee
        provides a touch of richness while keeping the treats light and crispy. While high in sugars, they are free from
        cholesterol and offer a modest amount of dietary fiber, promoting digestive health.
      </div>

      <h5>Product storage:</h5>
      <div class="product-description">
        To ensure the longevity of our Sugar Pootharekulu and preserve their delicate texture and flavor, store them in
        an airtight container in a cool, dry place. Avoid exposure to moisture or direct sunlight, as it may affect the
        quality of the treats.
      </div>
    </div>
  </div>
</div>