
  <div class="flex-container">
  
    <div class="image">
      <img src="assets/AT-gallery1.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery2.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery3.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery4.jpg" alt="image">                                
    </div> 

    <div class="image">
      <img src="assets/AT-gallery5.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery6.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery7.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery8.jpg" alt="image">
    </div>
  
    <div class="image">
      <img src="assets/AT-gallery10.jpg" alt="image">
    </div>
  
  </div>