<div class="d-flex align-items-center justify-content-center">
    <form [formGroup]="resetForm" autocomplete="off">
        <div class="mt-5 mb-5">
            <h5 class="text-center"><b>Reset account password</b></h5>
            <p class="text mt-2">Enter your new Password and you're all set.</p>
            <div class="mb-4 mt-5">
                <div class="input-group ">
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="oldPassword"
                        id="formoldpassword" class="form-control thick" placeholder="Enter current password"
                        [ngClass]="{'is-invalid': resetForm.get('oldPassword')?.invalid && resetForm.get('oldPassword')?.touched}">
                    <button class="btn btn-outline " type="button" (click)="togglePasswordVisibility($event)"
                        style="z-index: 999;border:1px solid #ced4da;"
                        [ngClass]="{'is-invalid': resetForm.get('oldPassword')?.invalid && resetForm.get('oldPassword')?.touched}">
                        <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
                    </button>
                </div>
                <div *ngIf="resetForm.get('oldPassword')?.hasError('required') && resetForm.get('oldPassword')?.touched"
                    class="text-danger">
                    Old Password is required
                </div>
            </div>
            <div class="mt-1">
                <h6 class="mb-3"><b>Enter New Password:</b></h6>
                <div class="input-group ">
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="password"
                        id="formpassword" class="form-control thick" placeholder="password"
                        [ngClass]="{'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched}">
                    <button class="btn btn-outline " type="button" (click)="togglePasswordVisibility($event)"
                        style="z-index: 999;border:1px solid #ced4da;"
                        [ngClass]="{'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched}">
                        <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
                    </button>
                </div>
                <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched"
                    class="text-danger">
                    Password is required
                </div>
                <div *ngIf="resetForm.get('password')?.hasError('pattern') && resetForm.get('password')?.touched"
                    class="text-danger">
                    Invalid Password.
                </div>
            </div>
            <div class="mb-4 mt-4">
                <div class="input-group">
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="confirmPassword"
                        id="formpassword" class="form-control thick" placeholder="confirm password"
                        [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
                    <button class="btn btn-outline " type="button" (click)="togglePasswordVisibility($event)"
                        style="z-index: 999;border:1px solid #ced4da;"
                        [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
                        <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
                    </button>
                </div>
                <div *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Confirm password is required
                </div>
                <div *ngIf="resetForm.get('confirmPassword')?.hasError('pattern') && resetForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Invalid Password. Password must have at least 8 characters, including one alphabetical character,
                    one
                    special character and one digit.
                </div>
            </div>

            <p class="text-success" *ngIf="passwordsMatch()">Passwords Matched</p>
            <p class="text-danger" *ngIf="passwordsMatchError">Passwords should be the same.</p>
            <!-- <p class="pwdtext" *ngIf="f.password?.value === f.confirmPassword?.value && 
                              f.password?.value !== ''">Passwords Matched</p> -->
            <div class="mt-4">
                <button class="btn text-white bg-dark me-3"  type="submit" (click)="reset()">Reset Password</button>
            </div>
        </div>
    </form>
</div>


<!-- password created successffully modal -->
<ng-template #passwordUpdated let-modal>
    <div class="ps-3 pe-3">
        <img class="mt-3 mb-3 check-circle-icon" src="assets/images/authentication/check-circle.svg" />
        <p class="successMessage">Password created successffully.</p>
        <p class="successText">
            Your new password has been set successfully. You can now use your updated password to log in to your
            account. Thank you
        </p>
    </div>
</ng-template>