

.password {
    .text {
        color: var(--gray-600, #52525B);
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }

    .pwdtext {
        color: #00BFA5;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}


.is-invalid {
    border: 1px solid #fd625e;
}

.submitButton{
    background-color: #000000;
    box-shadow: 0px 1px 2px 0px #000000;
    border: 1px solid #090914;
    border-radius: 5px;
    color: white;
}
