<div class="d-flex align-items-center justify-content-center">
    <form [formGroup]="resetForm" autocomplete="off">
        <div class="mt-5 mb-5">
            <h5 class="text-center"><b>Reset account password</b></h5>
            <p class="text">Enter your new Password and you're all set.</p>
            <div class="mb-4 mt-4">
                <input type="password" formControlName="password" id="formpassword" class="form-control  thick"
                    placeholder="Password"
                    [ngClass]="{'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched}">
                <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched"
                    class="text-danger">
                    Password is required
                </div>
                <div *ngIf="resetForm.get('password')?.hasError('pattern') && resetForm.get('password')?.touched"
                    class="text-danger">
                    Invalid Password.
                </div>
            </div>
            <div class="">
                <input type="password" formControlName="confirmPassword" id="confirmPassword"
                    class="form-control  thick" placeholder="Confirm Password"
                    [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
                <div *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Confirm password is required
                </div>
                <div *ngIf="resetForm.get('confirmPassword')?.hasError('pattern') && resetForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Invalid Password. Password must have at least 8 characters, including one alphabetical character,
                    one
                    special character and one digit.
                </div>
            </div>
            <!-- <p class="pwdtext" *ngIf="f.password?.value === f.confirmPassword?.value && 
                              f.password?.value !== ''">Passwords Matched</p> -->
            <div class="mt-4">
                <button class="btn submitButton" type="submit">Reset Password</button>
            </div>
        </div>

    </form>
</div>


<!-- password created successffully modal -->
<ng-template #passwordUpdated let-modal>
    <div class="ps-3 pe-3">
        <img class="mt-3 mb-3 check-circle-icon" src="assets/images/authentication/check-circle.svg" />
        <p class="successMessage">Password created successffully.</p>
        <p class="successText">
            Your new password has been set successfully. You can now use your updated password to log in to your
            account. Thank you
        </p>
    </div>
</ng-template>