<div class="border-0 mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/img/view.jpg" alt="Avatar" style="width: 100%; height: 100%;">
                </div>
                <div class="flip-card-back">
                    <img src="assets/img/atp.jpg" alt="Avatar" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h2 class="text-success"><b>Atreyapuram</b></h2>
            <p>Atreyapuram is a small village located in East Godavari district of Andhra Pradesh, India. It's well
                known for its breadth taking
                sceneris and green surroundings. Atreyapuram is Particularly famous for its mouth watering Papersweets
                famous known as <b>Atreyapuram Pootharekulu</b>.</p>
        </div>
    </div>
</div>
<h2 class="header text-center text-success"><b>Preparation</b></h2>
<div class="row" style="margin-left: 4rem;">
    <div class="col-sm-5">
        <p>

            Atreyapuram Putharekulu is a signature sweet from the town of Atreyapuram. The preparation of Atreyapuram
            Putharekulu is a traditional art, passed down through generations. The main
            ingredients include rice flour, jaggery (unrefined sugar), ghee, and sometimes cardamom for added flavor.
        </p>
        <div class="custom-para">
            The unique aspect of Putharekulu lies in the delicate and labor-intensive process of creating the thin
            layers. The rice batter is spread thinly on a cloth, dried, and then interleaved with layers of jaggery and
            ghee.The stack is carefully rolled into a cylindrical shape and sliced into individual servings.The end
            result is
            a crispy, flaky sweet with a rich, caramelized taste. They are known
            for their distinct texture, combining the crispiness of the layers with the sweetness of the jaggery,
            creating a delightful culinary experience that reflects the culinary craftsmanship of Atreyapuram.
        </div>
    </div>
    <div class="col-sm-6">
        <img src="assets/img/prep.jpg" height="100%" width="100%">
    </div>
</div>
<div class="row mb-3" style="margin-left: 4rem;margin-top: 6rem;">
    <div class="col-sm-6">
        <img src="assets/img/prep2.webp" height="100%" width="100%">
    </div>
    <div class="col-sm-5">
        <div class="custom-para">
            Visitors
            often purchase these sweets as a part of their cultural exploration of the region or as gifts for friends
            and family. The popularity of Atreyapuram Putharekulu has made it a symbol of the culinary heritage of
            Andhra Pradesh. These delectable treats are not only popular in the local region but have gained fame
            across the state and beyond. The name "Putharekulu" is derived from the Telugu words "Putha" meaning layer
            and "Reku" meaning sheet, reflecting the intricate layering process involved in making this
            sweet.Atreyapuram Putharekulu are often
            enjoyed during festivals, special occasions, and as souvenirs for those visiting the town.
        </div>
    </div>
</div>
<h2 class="header text-center"><b>Atreyapuram Putharekulu</b></h2>
<div class="row" style="margin-left: 4rem;">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-7">
        <img *ngFor="let image of images; let i = index" [src]="image"
            [style.display]="i === currentIndex ? 'block' : 'none'" height="60%" width="100%">
    </div>
    <div class="col-sm-4">
        <p>
            Atreyapuram is a small village located in East Godavari district of Andhra Pradesh, India. It's well
            known for its breadth taking
            sceneris and green surroundings. Atreyapuram is Particularly famous for its mouth watering Papersweets
            famous known as <b>Atreyapuram Pootharekulu</b>.<br></p>
        <div class="custom-para">
            Over the years, the women of Atreyapuram village have mastered the art of making the most traditional, rich
            and delicious sweet “Pootharekulu“, which is now the most sought-after sweet for every occasion in
            Andhra Pradesh. In Andhra Pradesh, Pootharekulu is more than just a sweet. The fame and history of
            Pootharekulu signify royalty, pride, heritage and no celebration is complete without a bite of Pootharekulu.
        </div>
    </div>
</div>
