<h2 class="text-center mt-5"><b>Orders</b></h2>
<div class="mt-5 mb-5" style="display: flex; flex-direction: column;">
    <table class="table table-responsive" style="margin-left: 2rem;">
        <thead>
            <tr>
                <th style="width: 10%;">s.no</th>
                <th style="width: 10%;">Id</th>
                <th style="width: 10%;">Name</th>
                <th style="width: 20%;">Address</th>
                <th style="width: 20%;">Date</th>
                <th style="width: 10%;">Price</th>
                <th style="width: 10%;">Status</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>
    <!-- <button class="btn buttonColor mt-3 me-5 align-self-end" data-toggle="modal" data-target=".bd-example-modal-lg">CHECK OUT</button> -->
</div>
<!-- <div *ngIf="!cartProducts || cartProducts.length === 0" class="empty-cart-message">
  <h4>Your Cart is empty</h4>
</div> -->
