/* Carouserl */
.carousel-inner img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

/* Icons */
.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon-item {
  flex-grow: 1;
  text-align: center;
  padding: 0 5px;
}

.icon-item img {
  width: 100%;
  max-width: 60px;
  height: auto;
}

/* Eat and feel text, images */

.tasteHeader{
  margin-top: 6.5rem;
  font-weight: bold;
  /* font-size: 7rem; */
}
.gallery{
  flex-grow: 1;
  text-align: center;
  padding: 0 5px;
  width: 24.99999%;
  padding: 3rem 2rem;
}

.gallery img {
  width: 80%;
  border-radius: 50%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.gallery:hover img {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery:hover .desc {
  opacity: 1;

}

/* Video */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Responsive */
@media (max-width: 778px) {
  .icon-item p {
    font-size: 8px;
  }

  .tasteHeader {
    font-size: 1.1rem;
    margin-top: 1px;
  }

  .gallery{
    flex-grow: 1;
    text-align: center;
    padding: 0 5px;
    /* width: 100%; */
    padding-top: 1.5rem;
  }
  
  .gallery img {
    width: 80%;
    border-radius: 50%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    font-size: 10px;
    text-align: center;
  }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carousel-inner img {
    height: 350px;
  }

  /* .tasteHeader {
    font-size: 1.2rem;
  } */
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-inner img {
    height: 450px;
  }
/* 
  .tasteHeader {
    font-size: 1.2rem;
  } */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel-inner img {
    height: 550px;
  }
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  /* .tasteHeader {
    font-size: 1.2rem;
  } */
}

@media only screen and (max-width: 500px) {
 
  .tasteHeader {
    font-size: 1.2rem;
  }
}

