.content {
    top: 45%;
    left: 20%;
    position: absolute;
}

.content a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;

}

.content a:hover {
    background-color: #3498db;
    color: black;
}

.stepbox {
    background-color: black;
    padding: 20px 20px;
    border-radius: 100px;
    text-align: center;

}

.stepbox h1 {
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
}

.stepbox p {
    color: white;
    font-style: italic;
    font-size: 20px;
}

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  div.gallery img {
    width: 80%;
    height: auto;
    border-radius: 50%;
  }


  div.desc {
    padding: 15px;
    text-align: center;
    padding-right: 90px;
  }

  .gallery:hover img {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .gallery:hover .desc {
    opacity: 1;
  
  }
 
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }