<div class="carousel">
    <button class="carousel-control-prev" type="button" (click)="showPrev()">
        <i class="bi bi-arrow-left-circle-fill" style="font-size: 3rem; color: rgb(255, 255, 255);"></i>
    </button>
    <img [src]="images[currentIndex]" alt="Carousel Image">
    <button class="carousel-control-next" type="button" (click)="showNext()">
        <i class="bi bi-arrow-right-circle-fill" style="font-size: 3rem; color: rgb(255, 255, 255);"></i>
    </button>
</div>


<div class="banner">
    <div class="content">
        <a routerLink="/menu" class="fw-bold">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>




<div class="container mt-5 mb-4">
    <h1 class="text-center mb-5"><span style="color: red">Eat</span> and <span style="color: blueviolet;">Feel</span>
        the <span style="color: green;">Taste</span></h1>
    <!-- <div class="row mt-5">
        <div class="col-md-3 mt-2">
            <div class="stepbox">
                <h1>1</h1>
                <p>Jaggery(Bellam) Made</p>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="stepbox">
                <h1>2</h1>
                <p>Sugar Made</p>
            </div>

        </div>

        <div class="col-md-3 mt-2">
            <div class="stepbox">
                <h1>3</h1>
                <p>Sugar Free(Diabetic)</p>
            </div>

        </div>
        <div class="col-md-3 mt-2">
            <div class="stepbox">
                <h1>4</h1>
                <p>Combo Savings</p>
            </div>

        </div>
    </div> -->
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="assets/img/JaggeryMade.webp">
            <img src="assets/img/jaggeryMade.webp" alt="Cinque Terre" width="400" height="300">
        </a>
        <div class="desc">Jaggery Made</div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="assets/img/sugarmade.jpeg">
            <img src="assets/img/sugarmade.jpg" alt="Cinque Terre" width="400" height="300">
        </a>
        <div class="desc">Sugar Made</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="assets/img/JaggeryMade.webp">
            <img src="assets/img/sugarfreee.webp" alt="Cinque Terre" width="400" height="300">
        </a>
        <div class="desc">Sugar Free(Diabetic)</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="assets/img/JaggeryMade.webp">
            <img src="assets/img/combo.jpg" alt="Cinque Terre" width="400" height="300">
        </a>
        <div class="desc">Combo Savings</div>
    </div>
</div>





<div class="clearfix"></div>

<app-menu></app-menu>

<div class="video-container mt-5 mb-5">
    <iframe src="https://www.youtube.com/embed/sNekbtenS_A?si=e6HWcghGDXBaK4nC" class="video"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
<app-faqs></app-faqs>