<div class="d-flex align-items-center justify-content-center">
    <div *ngIf="!showSuccessPopup">
        <form [formGroup]="resetForm" autocomplete="off" class="resetform">
            <div class="mt-5 mb-5">
                <h5 class="text-center"><b>Reset Your Password</b></h5>
                <p class="text mt-2">Create a new password to regain access to your account.</p>
                <div class="mb-4 mt-5">
                    <div class="input-group ">
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="password"
                            id="formpassword" class="form-control thick" placeholder="password"
                            [ngClass]="{'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched}">
                        <button class="btn btn-outline " type="button" (click)="togglePasswordVisibility($event)"
                            style="z-index: 999;border:1px solid #ced4da;"
                            [ngClass]="{'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched}">
                            <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
                        </button>
                    </div>
                    <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched"
                        class="text-danger">
                        Password is required
                    </div>
                    <div *ngIf="resetForm.get('password')?.hasError('pattern') && resetForm.get('password')?.touched"
                        class="text-danger">
                        Invalid Password.
                    </div>
                </div>
                <div class="mb-4 mt-4">
                    <div class="input-group">
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="confirmPassword"
                            id="formpassword" class="form-control thick" placeholder="confirm password"
                            [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
                        <button class="btn btn-outline " type="button" (click)="togglePasswordVisibility($event)"
                            style="z-index: 999;border:1px solid #ced4da;"
                            [ngClass]="{'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
                            <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
                        </button>
                    </div>
                    <div *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        Confirm password is required
                    </div>
                    <div *ngIf="resetForm.get('confirmPassword')?.hasError('pattern') && resetForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        Invalid Password. Password must have at least 8 characters, including one alphabetical
                        character,
                        one
                        special character and one digit.
                    </div>
                </div>
                <!-- <p class="text-success" *ngIf="passwordsMatch()">Passwords Matched</p> -->
                <p class="text-danger" *ngIf="passwordsMatchError">Password and confirm password should be the same.</p>
                <div class="mt-4">
                    <button class="btn text-white bg-dark me-3" type="submit" (click)="reset()">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="showSuccessPopup">
        <!-- Reset Password success -->
        <div class="card mt-5 mb-5 showSuccess" >
            <div class="success-icon text-center">
                <i class="fas fa-check-circle fa-5x mt-3 mb-4"></i>
            </div>
            <!-- <h6>Hey {{userName}}</h6> -->
            <h5><b>Your password has been changed successfully!</b></h5>
            <h6>You can now use your updated password to log in to your
                account. Thank you.</h6>
            <button type="button" class="btn bg-dark text-white cursor-pointer center-button" routerLink="/home">Back to
                Home page</button>
        </div>
    </div>
</div>