

.password {
    .text {
        color: var(--gray-600, #52525B);
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }

    .pwdtext {
        color: #00BFA5;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}


.is-invalid {
    border: 1px solid #fd625e;
}
.card {
    width: 400px;
    margin: 0 auto; /* Center the card horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Light gray background */
    text-align: center; /* Center-align text */
}

.success-icon {
    color: #28a745; /* Green color for success icon */
}


/* Style headings */
.card h5, .card h6 {
    margin-bottom: 15px; /* Add some space between headings */
}

/* Optional: Add custom styles for h5 */
.card h5 {
    color: #333; 
    font-weight: bold;
    font-size: 24px;
}


.card h6 {
    color: #666;
    font-size: 16px;
}
.center-button {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust the width as needed */
    margin-top: 20px; /* Add some top margin */
}

@media (max-width: 768px) {
    .resetform{
        margin: 2rem;
    }
    .showSuccess{
        margin: 1rem;
    }
   
  }
