<div class="container">
    <div class="card-table">
        <div class="cart-menu">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>sr.no</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>  
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jagery</td>
                        <td>image</td>
                        <td>100</td>
                        <td>3</td>
                        <td>300</td>
                        <td>
                            <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






  <!-- <ng-container *ngif="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">my cart</h5>
        </div>
        <div class="center">
            <img src="../../../assets/cartimage.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button class="btn-primary">Shop Now</button>
        </div>
    </div>
  </ng-container> -->
