<h2 class="text-center mt-5"><b>Shopping Cart</b></h2>
<div class="mt-5 mb-5">
    <table class="table table-responsive" style="margin-left: 2rem;">
        <thead>
            <tr>
                <th style="width: 10%;">s.no</th>
                <th style="width: 20%;">Product Name</th>
                <th style="width: 20%;">Price</th>
                <th style="width: 20%;">Quantity</th>
                <th style="width: 20%;">Total</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>&#x20B9;{{ item.price }}</td>
                <td style="position: relative;">
                    <div class="quantity-control d-flex align-items-center">
                        <button class="btn btn-secondary" (click)="decrementQuantity(item)">
                            <i class="bi bi-dash"></i>
                        </button>
                        <input type="number" [(ngModel)]="item.quantity" class="form-control text-center" min="1" />
                        <button class="btn btn-secondary" (click)="incrementQuantity(item)">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </td>
                <td>&#x20B9;{{ item.total }}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeFromCart(i)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn buttonColor mt-3" (click)="openModal()">Checkout</button>
</div>