.btn-danger {
    background-color: #dc3545; /* Bootstrap red color */
    color: #fff; /* White text */
}

.btn-danger:hover {
    background-color: #c82333; /* Darker red color on hover */
}


/* checkoout styles */
.coupon {
    cursor: pointer;
  }
  
  .continue {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    /* text-align: center; */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 1rem;
    transition: background-color 0.4s ease;
  }
  
  .paynow {
    padding: 8px 4rem;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 1rem;
    font-size: 25px;
    transition: background-color 0.4s ease;
    display: inline-block;
    /* Ensures the button doesn't take the full width */
  }
  
  .text-center {
    text-align: center !important;
    /* Use !important to override Bootstrap's default styles */
  }
  
  .back-arrow {
    cursor: pointer;
  }
  
  .total-amount {
    display: flex;
    justify-content: space-between;
  }
  .borderTopBottom {
    border-top: 1px dashed #D3D3D3; /* Change color as needed */
    border-bottom: 1px dashed #D3D3D3; /* Change color as needed */
    padding: 10px; /* Add padding as needed */
    /* Additional styles if needed */
  }
  
  
  .total-amount .label {
    flex: 1;
  }
  
  .total-amount .amount {
    margin-left: 1rem;
    /* Adjust the margin-left value as needed */
  }
  
  
  
  
  
  .gap {
    display: flex;
    justify-content: space-between;
  }
  
  body {
    margin-top: 20px;
    background: #eee;
  }
  
  /* WRAPPERS */
  #wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  
  .wrapper {
    padding: 0 20px;
  }
  
  .wrapper-content {
    padding: 20px 10px 40px;
  }
  
  #page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
  }
  
  @media (min-width: 768px) {
    #page-wrapper {
      position: inherit;
      margin: 0 0 0 240px;
      min-height: 2002px;
    }
  }
  
  /* Payments */
  .payment-card {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #e7eaec;
  }
  
  .payment-icon-big {
    font-size: 60px;
    color: #d1dade;
  }
  
  .payments-method.panel-group .panel+.panel {
    margin-top: -1px;
  }
  
  .payments-method .panel-heading {
    padding: 15px;
  }
  
  .payments-method .panel {
    border-radius: 0;
  }
  
  .payments-method .panel-heading h5 {
    margin-bottom: 5px;
  }
  
  .payments-method .panel-heading i {
    font-size: 26px;
  }
  
  .payment-icon-big {
    font-size: 60px !important;
    color: #d1dade;
  }
  
  .form-control,
  .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
  }
  
  .text-navy {
    color: #1ab394;
  }
  
  .text-success {
    color: #1c84c6;
  }
  
  .text-warning {
    color: #f8ac59;
  }
  
  .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
  }
  
  .ibox.collapsed .ibox-content {
    display: none;
  }
  
  .ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
  }
  
  .ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
  }
  
  .ibox:after,
  .ibox:before {
    display: table;
  }
  
  .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
  }
  
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
  }
  
  .ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
  }
  
  .text-danger {
    color: #ed5565;
  }

  .border-red {
    border: 1px solid red;
  }
  
  .empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
  }
  
  .empty-cart-message h4 {
    text-align: center;
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
  }


  /* @media (max-width: 576px) {
    .quantity-control button {
      margin-right: 5px; 
    }
  
    .quantity-control input {
      min-width: 60px; 
    }
  } */
  
  .quantity {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 30px;
    /* height: 2rem; */
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #575b71;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    width: 3rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  } 
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #fff;
  }

  .checkOut{
    margin-right: 5rem;
  }