.btn-danger {
    background-color: #dc3545; /* Bootstrap red color */
    color: #fff; /* White text */
}

.btn-danger:hover {
    background-color: #c82333; /* Darker red color on hover */
}

.coupon{
    cursor: pointer;
}
.continue {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    /* text-align: center; */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 1rem;
    transition: background-color 0.4s ease;
}
.gap {
    display: flex;
    justify-content: space-between;
}

