
        <div class="gallery-container">
          <div class="gallery">
              <div class="thumbnails">
                  <div class="image-item" (click)="showLargeImage('assets/GudPutharekulu-01.jpg')">
                      <img class="thumbnail" src="assets/GudPutharekulu-01.jpg" alt="Image 1">
                  </div>
                  <div class="image-item" (click)="showLargeImage('assets/jaggery made.jpg')">
                      <img class="thumbnail" src="assets/jaggery made.jpg" alt="Image 2">
                  </div>
                  <div class="image-item" (click)="showLargeImage('assets/img/cover2.jpg')">
                      <img class="thumbnail" src="assets/img/cover2.jpg" alt="Image 3">
                  </div>
              </div>
              <div class="large-image-container" *ngIf="selectedImageUrl">
                  <img [src]="selectedImageUrl" class="large-image" alt="Large image">
              </div>
          </div>
          <div class="product-info">
              <div class="container">
                <h2>Product Description</h2>
        <div class="product-description">
            Our Bellam Poothareukulu is a classic and traditional Andhra sweet, produced following the age-old conventional cooking techniques followed by our ancestors. The sweetness of this Jaggery pootharekulu makes it a delight to eat.        </div>
        <div class="product-description">This Bellam / Jaggery poothareukulu is offered in different quantities of 250 gms, 500 gms, and 1 kg</div>
        <h2>Product Information</h2>
        <div class="product-description">
            Bellam Pootharekulu also called Jaggery Paper sweet which is indigenous to a village named Atreyapuram. Consequently, they are also called Atreyapuram Bellam Pootharekulu. These jaggery-coated paper sheets are most popular during festivals and celebrations by bringing extra sweetness into your life. This Bellam pootharekulu is made from a rice batter named Jaya biyyam and is blended with sugar or jaggery and ghee. 
        </div>
        <h2>Ingredients</h2>
    <ul style="list-style-type: none;">
        <li>Rice starch</li>
        <li>jaggery</li>
        <li>Ghee</li>
    </ul>
    <div class="nutrition-fact">
        <h2>Nutritional Facts</h2>
        <ul style="list-style-type: none;">
            <li><strong>Carbohydrates:</strong> 94 g</li>
            <li><strong>Protein:</strong> 10 g</li>
            <li><strong>Potassium:</strong> 241 mg, 60 mg</li>
            <li><strong>Calcium:</strong> 5 mg</li>
            <li><strong>Iron:</strong> 5 mg</li>
            <li><strong>Fiber:</strong></li>
        </ul>
    </div>
    <h2>Health Benefits</h2>
        <div class="product-description">
            The rice is rich in micronutrients, especially vitamin B1 will help to improve memory power and concentration. Furthermore, the jaggery in this jaggery Pootharekulu will boost the hemoglobin content of the blood.       
        </div>

        <h2>Product storage</h2>
        <div class="product-description">
            Godavari district’s Authentic Sweet Bellam Pootharekulu must be stored in a sealed container immediately after opening the package. Jaggery paper sweets are best before three weeks from the date of opening or date of manufacture, although, taste better when consumed within 6 weeks.    
        </div>
              </div>
          </div>
      </div>
      

