
<!-- <h1>dnsdcijosdjpcijoasc</h1> -->


<!-- <section id="container">
    <input type="checkbox" id="navbtn">
          <label for="navbtn" id="ic-lbl">
            <i class="fa fa-bars tn-icon"></i>
          </label> 
    <div id="nav">
      <div id="nav-title">
        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
        <h1>JayaKanna</h1>
      </div>
      <ul id="nav-ul">
        <li>
          <a href="#">
            <span><i class="fa fa-tachometer" aria-hidden="true"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
            <span>Product</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-list" aria-hidden="true"></i></span>
            <span>Order&nbsp;list</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-database" aria-hidden="true"></i></span>
            <span>Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span><i class="fa fa-laptop" aria-hidden="true"></i></span>
            <span>Total&nbsp;order</span>
          </a>
        </li>
      </ul>
      <div id="log-out">
        <i class='bx bx-log-out'></i>
        <span>Log&nbsp;out</span>
      </div>
    </div>
    <div id="page">
      <div id="top-nav">
        <div id="tn-title">
  
            <i class="fa fa-bars tn-icon"></i>
  
          <h1>Dashboard</h1>
        </div>
        <div id="search">
          <input type="text" placeholder="Search">
          <span><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div id="home-content">
        <div id="box-list">
          <div class="box">
            <div>
              <h2>Total&nbsp;Order</h2>
              <h1>40,876</h1>
              <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
            </div>  
              <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
          </div>
          <div class="box">
            <div>
              <h2>Total&nbsp;Sales</h2>
              <h1>38,876</h1>
              <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
            </div>  
              <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
          </div>
          <div class="box">
            <div>
              <h2>Total&nbsp;Order</h2>
              <h1>$12,876</h1>
              <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
            </div>  
              <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
          </div>
          <div class="box">
            <div>
              <h2>Total&nbsp;Return</h2>
              <h1>11,086</h1>
              <span class="day-details"><i class='bx bx-down-arrow-alt'></i>Down&nbsp;From&nbsp;Today</span>
            </div>  
              <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>
          </div>
        </div>
       <div id="main-content"> 
        <div id="resent-sale">
          <div class="heading">Resent Sales</div>
          <table>
            <tr>
              <th>Date</th>
              <th>Costomer</th>
              <th>Sales</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>JayaKanna</td>
              <td>Returned</td>
              <td>&#8377;1,20,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Viswanathan</td>
              <td>Delivered</td>
              <td>&#8377;1,00,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Uma</td>
              <td>Delivered</td>
              <td>&#8377;80,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>MuraliKrishna</td>
              <td>Pending</td>
              <td>&#8377;75,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Dhanalakshmi</td>
              <td>Delivered</td>
              <td>&#8377;50,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Kumaar</td>
              <td>Pending</td>
              <td>&#8377;90,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>KavithaSree</td>
              <td>Returned</td>
              <td>&#8377;40,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Rohini</td>
              <td>Delivered</td>
              <td>&#8377;25,000</td>
            </tr>
            <tr>
              <td>17 Jul 2021</td>
              <td>Aghil</td>
              <td>Returned</td>
              <td>&#8377;20,000</td>
            </tr>
          </table>
          <div id="button">
            <span>See All</span>
          </div>
        </div>
        <div id="top-sale">
          <div class="heading">Top Seling Product</div>
          <div id="top-sel-costomer">
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/870711/pexels-photo-870711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">JayaKanna</span>
             </div>  
              <span class="t-s-c-price">&#8377;1,40,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">Viswanathan</span>
             </div>  
              <span class="t-s-c-price">&#8377;1,00,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/45853/grey-crowned-crane-bird-crane-animal-45853.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">Uma</span>
             </div>  
              <span class="t-s-c-price">&#8377;80,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/1461974/pexels-photo-1461974.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">MuraliKrishna</span>
             </div>  
              <span class="t-s-c-price">&#8377;75,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">Dhanalakshmi</span>
             </div>  
              <span class="t-s-c-price">&#8377;50,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/206648/pexels-photo-206648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">Sugaprakash</span>
             </div>  
              <span class="t-s-c-price">&#8377;90,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/409126/pexels-photo-409126.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">DeebanSankar</span>
             </div>  
              <span class="t-s-c-price">&#8377;80,000</span>
            </div>
            <div class="t-s-c-list">
             <div class="split-section"> 
              <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="t-s-c-name">Dhivya</span>
             </div>  
              <span class="t-s-c-price">&#8377;25,000</span>
            </div>
          </div>
        </div>
       </div>  
      </div>
    </div>
  </section> -->







  <!-- <div id="container">
    <input type="checkbox" id="navbtn">
    <label for="navbtn" id="ic-lbl">
        <i class="fa fa-bars tn-icon"></i>
    </label> 
    <div id="nav">
        <div id="nav-title">
            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
            <h1>JayaKanna</h1>
        </div>
        <ul id="nav-ul">
            <li>
                <a href="#">
                    <span><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-list" aria-hidden="true"></i></span>
                    <span>Order&nbsp;list</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-database" aria-hidden="true"></i></span>
                    <span>Stock</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-laptop" aria-hidden="true"></i></span>
                    <span>Total&nbsp;order</span>
                </a>
            </li>
        </ul>
        <div id="log-out">
            <i class='bx bx-log-out'></i>
            <span>Log&nbsp;out</span>
        </div>
    </div>

    <div id="page">
        <div id="top-nav">
            <div id="tn-title">
                <i class="fa fa-bars tn-icon"></i>

                <h1>Dashboard</h1>
            </div>
            <div id="search">
                <input type="text" placeholder="Search">
                <span><i class="fa fa-search"></i></span>
            </div>
        </div>
        <div id="home-content">
            <div id="box-list">
                <div class="box">
                    <div>
                        <h2>Total&nbsp;Order</h2>
                        <h1>40,876</h1>
                        <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                    </div>  
                    <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
                </div>
                <div class="box">
                    <div>
                        <h2>Total&nbsp;Sales</h2>
                        <h1>38,876</h1>
                        <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                    </div>  
                    <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
                </div>
                <div class="box">
                    <div>
                        <h2>Total&nbsp;Order</h2>
                        <h1>$12,876</h1>
                        <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                    </div>  
                    <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>  
                </div>
                <div class="box">
                    <div>
                        <h2>Total&nbsp;Return</h2>
                        <h1>11,086</h1>
                        <span class="day-details"><i class='bx bx-down-arrow-alt'></i>Down&nbsp;From&nbsp;Today</span>
                    </div>  
                    <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>
                </div>
            </div>
            <div id="main-content"> 
                <div id="resent-sale">
                    <div class="heading">Recent Sales</div>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Sales</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>17 Jul 2021</td>
                            <td>JayaKanna</td>
                            <td>Returned</td>
                            <td>&#8377;1,20,000</td>
                        </tr>
                    </table>
                    <div id="button">
                        <span>See All</span>
                    </div>
                </div>
                <div id="top-sale">
                    <div class="heading">Top Selling Products</div>
                    <div id="top-sel-customer">
                    </div>
                </div>
            </div>  
        </div>
        </div> -->


       



        
        <!-- toggle--------- -->
        <!-- <div id="container">
   <div class="sidebar" [style.margin-left]="sidebarMargin">
    <ul class="sidebar-nav">
        <li>
            <a (click)="toggleNavbar()">Close <i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#">Home <i class="fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#">Download<i class="fa fa-download menu-icon fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#">Edit<i class="fa fa-cog menu-icon fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#">log out<i class="fa fa-sign-out menu-icon fa-2x" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
</div> -->






<div class="main-container"> 
    <div class="navcontainer"> 
        <nav class="nav"> 
            <div class="nav-upper-options"> 
                <div class="nav-option option1">
                    <h3> Dashboard</h3> 
                </div> 

                <div class="option2 nav-option"> 
                    <h3> Articles</h3> 
                </div> 

                <div class="nav-option option3">
                    <h3> Report</h3> 
                </div> 

                <div class="nav-option option4"> 
                    <h3> Institution</h3> 
                </div> 

                <div class="nav-option option5"> 
                    <h3> Profile</h3> 
                </div> 

                <div class="nav-option option6">  
                    <h3> Settings</h3> 
                </div> 

                <div class="nav-option logout"> 
                    <h3>Logout</h3> 
                </div> 
            </div>  
        </nav>
    </div>

    <!-- Integrate content in the middle -->
    <div id="home-content">
        <div id="box-list">
            <div>
                <h2>Total&nbsp;Order</h2>
                <h1>40,876</h1>
                <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
            </div>  
            <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>         
        </div>
        
        <div id="main-content"> 
            <div id="resent-sale">
                <div>
                    <h2>Total&nbsp;Sales</h2>
                    <h1>38,876</h1>
                    <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                </div>  
                <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>           
             </div>
            
            <div id="top-sale">
                <div>
                    <h2>Total&nbsp;Order</h2>
                    <h1>$12,876</h1>
                    <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                </div>  
                <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>              
            </div>
        </div>
        
        <div>
            <h2>Total&nbsp;Return</h2>
            <h1>11,086</h1>
            <span class="day-details"><i class='bx bx-down-arrow-alt'></i>Down&nbsp;From&nbsp;Today</span>
        </div>  
        <div class="card-bx"><span class="card"><i class='bx bx-cart-alt'></i></span></div>        
        <div class="middle-content">
            <div id="resent-sale">
                <div class="heading">Recent Sales</div>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Sales</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>17 Jul 2021</td>
                        <td>JayaKanna</td>
                        <td>Returned</td>
                        <td>&#8377;1,20,000</td>
                    </tr>
                </table>
                <div id="button">
                    <span>See All</span>
                </div>
            </div>
            <div id="top-sale">
                <div class="heading">Top Selling Products</div>
                <div id="top-sel-customer">
                </div>
            </div>        
        </div>
    </div>
</div>



  