<div class="gallery-container">
  <div class="gallery">
    <div class="large-image-container" *ngIf="selectedImageUrl">
      <img [src]="selectedImageUrl" class="large-image" alt="Large image">
    </div>
    <div class="thumbnails">
      <div class="image-item" (click)="showLargeImage('assets/items/combos1.JPG')">
        <img class="thumbnail" src="assets/items/combos1.JPG" alt="Image 1">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/combos2.JPG')">
        <img class="thumbnail" src="assets/items/combos2.JPG" alt="Image 2">
      </div>
      <div class="image-item" (click)="showLargeImage('assets/items/combos.JPG')">
        <img class="thumbnail" src="assets/items/combos.JPG" alt="Image 3">
      </div>
    </div>
  </div>
  <div class="product-info mt-3">
    <div class="container">
      <h5>Product Description</h5>
      <div class="product-description mt-3">
        Indulge in the ultimate treat with our Combo Combination Pootharekulu, featuring a delightful blend of flavors
        and textures. This special offering includes a variety of Pootharekulu made with Bellam (jaggery), Sugar, and an
        assortment of wholesome dry fruits. Each bite promises a symphony of tastes, from the rich sweetness of jaggery
        to the classic sweetness of sugar, complemented by the crunchy goodness of dry fruits.</div>
      <h5>Ingredients: <span class="ingredients">Rice flour, Sugar, Jaggery, Ghee, Assorted dry fruits (such as
          almonds, cashews, pistachios, raisins, etc.)</span></h5>
      <div class="nutrition-fact">
        <h5>Nutritional Facts:</h5>
        <ul>
          <li><strong>Calories:</strong> 150-200 kcal</li>
          <li><strong>Total Fat:</strong> 5-8 grams</li>
          <!-- <li><strong>Saturated Fat:</strong> 2-4 grams</li> -->
          <!-- <li><strong>Cholesterol:</strong> 0 mg</li> -->
          <!-- <li><strong>Sodium:</strong> 5-10 mg</li> -->
          <li><strong>Total Carbohydrates:</strong> 25-30 grams</li>
          <!-- <li><strong>Dietary Fiber:</strong> 1-2 grams</li> -->
          <li><strong>Sugars:</strong> 15-20 grams</li>
          <li><strong>Protein:</strong> 1-2 grams</li>
        </ul>
      </div>
      <h5>Health Benefits:</h5>
      <div class="product-description">
        Our Combo Combination Pootharekulu offer not only indulgent flavors but also a variety of health benefits. The
        inclusion of Bellam provides essential minerals like iron and potassium, while sugar adds a familiar sweetness.
        Assorted dry fruits contribute vital nutrients such as vitamins, minerals, and healthy fats, promoting overall
        well-being. With a balance of carbohydrates, fats, and proteins, these treats offer a satisfying snack option
        for any time of day.
      </div>

      <h5>Product storage:</h5>
      <div class="product-description">
        To maintain the freshness and flavor of our Combo Combination Pootharekulu, store them in an airtight container
        in a cool, dry place. Avoid exposure to moisture or direct sunlight to preserve their delicate texture and
        taste.
      </div>
    </div>
  </div>
</div>