
.account {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: flex-start;
  gap: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
}



.menu-container, .account-details {
  flex: 1; /* Each takes up equal space, but now with reduced maximum width */
  max-width: calc(40% - 20px); /* Adjusts max-width to account for gap, ensuring they don't get too wide */
}

.menu-container {
  padding-left: 30%; /* Reduced from 20% to bring elements closer */
  padding-top: 5px;
  margin-bottom: 10px;
  margin-right: 3px;
}

.menu-item {
  margin-bottom: 20px; /* Increase this value to adjust the gap between menu items */
}

ul {
  list-style-type: none;
  margin: 0; /* Ensures there's no default margin */
  padding: 0; /* Ensures there's no default padding */
}

li {
  margin-bottom: 10px; /* Adjusted for consistent spacing */
}

.field, .address button {
  margin-bottom: 10px; /* Ensures consistent bottom margin */
}

.address button {
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.address button:hover {
  background-color: black;
  transform: translateY(-2px); /* Reduced movement for a subtler effect */
  transition: background-color 0.3s, transform 0.3s;
}



.greeting p {
  font-size: 24px;
}

#user-name {
  color: #007bff;
}

#user-name-alt {
  color: #6c757d;
}

.main{
  text-align: center;
}

.order-message {
  display: inline-block; /* Ensure the div takes only the width of its contents */
  background-color: rgb(137, 189, 152); /* Set the background color */
  height: 40px;
  /* width: 30px; */
  padding-top: 10px;
}

.order-message p {
  margin: 0;
}

.menu-item a {
  color: black;
}

.vertical-line {
  border-left: 1px solid black; 
  height: 460px;
}

.account-details {
  flex: 1; /* Each takes up equal space */
  max-width: calc(40% - 20px); /* Adjusts max-width to account for gap */
  margin-left: 50px; /* Adjust this value as needed to increase or decrease the gap */
}








