<div class="main">
    <h4>Your Account</h4>
</div>


<div class="account">
    <div class="account-details">
        <div class="greeting">
            <p>Hello <span id="user-name">{{name || '----'}}</span> (not <span id="user-name-alt">{{name || '---'}}</span>?<span style="text-decoration: underline;cursor: pointer;" (click)="logout()">Log Out</span> )</p>
        </div>
        <div class="field">
            <h3>Order History</h3>
        </div>
        <hr>
        <hr>
        <div class="order-message">
            <p>Make your first order. <span id="order-info">You haven't placed any orders yet.</span></p>
        </div>
        <hr>
        <hr>
        <div class="field">
            <h3><b>Account Details</b></h3>
        </div>
        <div class="field">
            <div class="label">Name</div>
            <div class="value">{{name || '----'}}</div>
        </div>
        <hr class="horizontal-line">
        <div class="field">
            <div class="label">Email</div>
            <div class="value">{{email || '----'}}</div>
        </div>
        <hr class="horizontal-line">
        <div class="address"><button (click)="logout()">Log Out</button></div>
        <hr>
    </div>
    
</div>







    