.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
  max-height: 100vh; 
  overflow-y: auto;
}


.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
}


.greeting p {
  font-size: 24px;
}

/* #user-name {
  color: #007bff;
} */

#user-name-alt {
  color: #6c757d;
}


.horizontal-line {
  border-top: 1px solid black;
  width: 100%;
  margin: 10px 0;
}
.cursor{
  cursor: pointer;
}

/* Responsive */
@media (max-width: 778px) {
 
  .account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .greeting p {
    font-size: 16px;
  }
  .btn {
    padding: 7px 12px;
    font-size: 14px;
  }
}











